
#heading{
    text-align: center;
    background-color: rgb(255, 208, 0);
    color: rgb(8, 72, 128);
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 500px;
}
textarea{
    width: 515px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(199, 231, 231);
    margin-bottom: 20px;
}
#wordcounter{
    border: 2px solid black;
    background-color: rgb(251, 255, 0);
    color: rgb(33, 78, 117);
    padding: 10px;
    border-radius: 5px;
}
#wordcounter{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}
#maxword{
    color: red;
}
